﻿<br/>
<div class="row english-words-tools">
    <div class="col-md-3">
        <select class="form-control" id="english-words-filter-name">
            <option value="0">Необработанные</option>
            <option value="1">Изученные</option>
            <option value="2">Неизученные</option>
            <option value="3">Все</option>
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-control" id="english-words-action-name">
            <option value="1">Переместить в изученные</option>
            <option value="2">Переместить в неизученные</option>
        </select>
    </div>
    <div class="col-md-2">
        <button id="english-words-action-btn" type="button" class="btn btn-primary">Применить действие</button>
    </div>
    <div class="col-md-4">
        <input id="upload-file-input" name="file" type="file" />
    </div>
</div>
<br/>
<div class="row english-words">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">№</th>
                    <th scope="col">Звук</th>
                    <th scope="col">Слово</th>
                    <th scope="col">Транскрипция</th>
                    <th scope="col">Перевод</th>
                </tr>
            </thead>
            <tbody id="english-words-tbody"></tbody>
        </table>
        <div id="loading" class="loading">Загрузка...</div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/EnglishWords.js"></script>
    <script src="~/Scripts/UploadFile.js"></script>
}
